* {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  background: url(/eduford_img/banner.png);
  background-size: cover;
}
.hero {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.389);
  line-height: 1.5;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.101);
  color: whitesmoke;
}

.header_edupay {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.header_h2 {
  margin: 0;
  font-size: 24px;
}

nav li a {
  color: white;
  text-decoration: none;
}
li {
  display: inline-block;
  margin-inline: 0.8rem;
}
li a:hover {
  color: #f35b04;
  /*  text-decoration: underline; */
}
ul a {
  list-style-type: none;
}
nav {
  width: 500px;
  height: 70px;
  float: right;
  margin-top: 0px;
}

.page1 {
  margin-top: 30vh;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}
.visit {
  width: 155px;
  height: 45px;
  background-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: whitesmoke;
  margin: 1rem;
}
.visit:hover {
  background-color: #f35b04;
  box-shadow: 5px 5px 10px black;
}
.course_h2 {
  position: relative;
  margin-top: 60px;
}
.courses {
  width: 100%;
  height: 60vh;
  background-position: center;
  background-color: whitesmoke;
  margin-top: 10px;
  line-height: 1.5;
  text-align: center;
  padding-top: 10px;
}
.course {
  border: 2px solid rgba(128, 128, 128, 0.437);
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #f35c0449;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.53);
}
.course_container {
  display: flex;
  flex-direction: row;
  /*  justify-content: space-between; */
  gap: 2rem;
  padding: 2rem;
}
.course:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.campus {
  width: 100%;
  height: 40vh;
  background-position: center;
  background-color: whitesmoke;
  margin-top: 20px;
  line-height: 1.5;
  text-align: center;
  padding-top: 10px;
}
.campus_pic {
  display: flex;
  flex-direction: row;
  /*  justify-content: space-between; */
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  align-content: center;
}
.campus_pic img {
  width: 210px;
  height: auto;
}
.pic {
  width: 210px;
  height: 300px;
}
.campus_pic img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  padding: 5px;
}
.facilities {
  width: 100%;
  height: 40vh;
  background-position: center;
  background-color: whitesmoke;
  margin-top: 20px;
  line-height: 1.5;
  text-align: center;
  padding-top: 10px;
}
.facility_pic {
  display: flex;
  flex-direction: row;
  /*  justify-content: space-between; */
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  align-content: center;
}
.facility_pic img {
  width: 210px;
  height: 300px;
}
.fpic {
  width: 210px;
  height: auto;
}
.facility_pic img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  padding: 5px;
}
.socials {
  display: flex;
  flex-direction: row;
  /*  justify-content: space-between; */
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
  align-content: center;
}
footer {
  width: 100%;
  height: 20vh;
  background-position: center;
  background-color: whitesmoke;
  margin-top: 45rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-align: center;
  bottom: 0;
  padding-bottom: 2rem;
}
footer img {
  width: 40px;
  height: auto;
}
/* Normal screen: Laptops/Desktops (1200px - 1024px) */
@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
    margin: auto;
  }
  .campus {
    width: 100%;
    height: 40vh;
    background-position: center;
    background-color: whitesmoke;
    line-height: 1.5;
    text-align: center;
    margin-top: -100px;
  }
  .campus_pic {
    display: flex;
    flex-direction: row;
    /*  justify-content: space-between; */
    gap: 4rem;
    padding-bottom: 5rem;
    justify-content: center;
    align-content: center;
  }
  .campus {
    margin: 0;
  }
  .pic {
    width: 310px;
    height: 400px;
  }
  .campus_pic img {
    width: 310px;
    height: auto;
  }
  .facility_pic img {
    width: 300px;
    height: auto;
  }
  .facility_pic {
    display: flex;
    flex-direction: row;
    /*  justify-content: space-between; */
    gap: 10rem;
    padding: 2rem;
    justify-content: center;
    align-content: center;
  }
  .facilities {
    width: 100%;
    height: 90vh;
    background-position: center;
    background-color: whitesmoke;
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;
    padding-top: 10px;
  }
  footer {
    margin-top: 53rem;
  }
  .course {
    width: 300px;
    height: auto;
  }
  .course_container {
    display: flex;
    justify-content: center;
  }
  .campus_pic img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    padding: 10px;
  }
}
/* Mobile phones (450px - smaller) */
@media screen and (max-width: 450px) {
  .container {
    background: url(/eduford_img/banner.png);
    background-size: cover;
    width: 100%;
  }
  html body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .hero {
    width: 100%;
    height: 60vh;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.389);
    line-height: 1.5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.101);
    color: whitesmoke;
  }
  .page1 {
    margin: 5vh 5%; /* Responsive margin */
    text-align: center;
  }
  .course_container {
    display: flex;
    flex-direction: column;
    /*  justify-content: space-between; */
    gap: 2rem;
    justify-content: center;
    align-content: center;
    width: 300px;
  }
  .courses {
    width: 90%;
    height: 110vh;
    background-position: center;
    background-color: whitesmoke;
    /*  margin-top: -1px; */
    line-height: 1.5;
    text-align: center;
  }
  .courses {
    width: 100%;
    height: auto;
    text-align: center;
    /*  margin-right: 7rem; */
  }
  .campus_pic {
    display: flex;
    flex-direction: column;
    /*  justify-content: space-between; */
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    align-content: center;
  }
  .campus_pic img {
    margin-left: 3rem;
  }
  .facilities img,
  p,
  h3 {
    margin-left: 3rem;
  }
  .campus {
    width: 90%;
    height: 40vh;
    margin-right: 100rem;
  }
  .facilities {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-color: whitesmoke;
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;
    padding-top: 10px;
  }
  .facility_pic {
    display: flex;
    flex-direction: column;
    /*  justify-content: space-between; */
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    align-content: center;
  }
  footer {
    width: 90%;
    height: 20vh;

    margin-top: 155rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: center;
    bottom: 0;
    padding-bottom: 2rem;
  }
}
